In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,0,34291,24,1,0,47,35693,2,1,2000,0,1,8,5196,369,0,3,3436795.2
1,1,95145,60,0,1,60,34773,1,4,2000,0,1,729,4496,277,0,6,9519958.0
2,2,92661,45,1,1,62,45457,4,8,2020,1,1,7473,8953,245,1,9,9276448.1
3,3,97184,99,0,0,59,15113,1,1,2000,0,1,6424,8522,256,1,9,9725732.2
4,4,61752,100,0,0,57,64245,8,4,2018,1,0,7151,2786,863,0,7,6181908.8

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22730 entries, 0 to 22729
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 22730 non-null  int64
 1   squareMeters       22730 non-null  int64
 2   numberOfRooms      22730 non-null  int64
 3   hasYard            22730 non-null  int64
 4   hasPool            22730 non-null  int64
 5   floors             22730 non-null  int64
 6   cityCode           22730 non-null  int64
 7   cityPartRange      22730 non-null  int64
 8   numPrevOwners      22730 non-null  int64
 9   made               22730 non-null  int64
 10  isNewBuilt         22730 non-null  int64
 11  hasStormProtector  22730 non-null  int64
 12  basement           22730 non-null  int64
 13  attic              22730 non-null  int64
 14  garage             22730 non-null  int64
 15  hasStorageRoom     22730 non-null  int64
 16  hasGuestRoom       22730 non-null  int64
 17  price              22730 non-null  float64
dtypes: float64(1), int64(17)
memory usage: 3.1 MB

In [5]:
df.isnull().sum()

id                   0
squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
dtype: int64

In [6]:
df.shape

(22730, 18)

In [7]:
df.describe()

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,22730.000000,2.273000e+04,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,22730.000000,2.273000e+04
mean,11364.500000,4.658622e+04,48.241091,0.475891,0.452750,47.305983,50013.795996,5.585042,5.620766,2008.005059,0.467972,0.460009,5283.646634,5067.981698,530.469644,0.461681,5.153058,4.634457e+06
std,6561.730145,4.952124e+04,28.226428,0.499429,0.497773,47.777207,30006.637729,2.739533,2.713026,118.826777,0.498984,0.498409,3047.084412,3097.347939,274.840604,0.498540,3.055246,2.925163e+06
min,0.000000,8.900000e+01,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.000000,0.000000,0.000000,4.000000,1.000000,4.000000,0.000000,0.000000,1.031350e+04
25%,5682.250000,2.039275e+04,25.000000,0.000000,0.000000,25.000000,22936.000000,3.000000,3.000000,2000.000000,0.000000,0.000000,2977.250000,2599.000000,297.000000,0.000000,3.000000,2.041739e+06
50%,11364.500000,4.448400e+04,47.000000,0.000000,0.000000,45.000000,50414.000000,6.000000,6.000000,2006.000000,0.000000,0.000000,5359.000000,4977.000000,515.000000,0.000000,5.000000,4.450823e+06
75%,17046.750000,7.154700e+04,75.000000,1.000000,1.000000,69.000000,76291.000000,8.000000,8.000000,2014.000000,1.000000,1.000000,7746.000000,7652.000000,767.000000,1.000000,8.000000,7.159920e+06
max,22729.000000,6.071330e+06,100.000000,1.000000,1.000000,6000.000000,491100.000000,10.000000,10.000000,10000.000000,1.000000,1.000000,91992.000000,96381.000000,9017.000000,1.000000,10.000000,1.000428e+07

In [8]:
df.corr()

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
id,1.000000,-0.001377,0.003697,-0.013849,-0.011452,-0.011556,0.007562,0.012823,-0.000870,0.004804,0.004701,0.000605,0.001734,0.001661,0.010885,0.011835,0.001892,-0.008060
squareMeters,-0.001377,1.000000,0.056755,-0.006512,-0.001615,0.017832,0.019843,0.002738,-0.000150,0.014827,0.010350,0.017886,-0.018948,-0.008333,-0.063946,0.006013,-0.005814,0.591749
numberOfRooms,0.003697,0.056755,1.000000,-0.000989,0.000197,0.044159,-0.008527,0.012343,0.021984,0.004819,-0.008951,0.011712,0.023536,0.027370,0.066873,-0.007623,-0.015969,0.091681
hasYard,-0.013849,-0.006512,-0.000989,1.000000,-0.068559,-0.010663,0.002786,-0.002071,-0.002494,-0.008165,0.001580,0.005141,-0.011966,-0.003421,-0.001047,0.006715,-0.007774,-0.002545
hasPool,-0.011452,-0.001615,0.000197,-0.068559,1.000000,-0.000490,0.008218,-0.002603,0.000512,-0.007610,0.032965,0.014905,0.003251,-0.001070,0.007199,0.016283,-0.006831,0.006023
floors,-0.011556,0.017832,0.044159,-0.010663,-0.000490,1.000000,0.005899,0.000913,0.009200,0.004584,-0.005746,-0.002473,0.007887,-0.006231,0.023794,-0.007920,-0.020811,0.038374
cityCode,0.007562,0.019843,-0.008527,0.002786,0.008218,0.005899,1.000000,0.009425,-0.003807,0.008044,-0.000551,-0.003309,0.000686,0.017507,0.007452,0.006606,0.002911,0.021986
cityPartRange,0.012823,0.002738,0.012343,-0.002071,-0.002603,0.000913,0.009425,1.000000,0.021518,0.005075,0.002154,-0.000393,0.000288,0.010329,-0.001874,0.003465,0.018328,-0.009366
numPrevOwners,-0.000870,-0.000150,0.021984,-0.002494,0.000512,0.009200,-0.003807,0.021518,1.000000,0.002074,-0.001010,-0.013071,-0.005544,0.001098,-0.004935,0.001031,0.013139,-0.008546
made,0.004804,0.014827,0.004819,-0.008165,-0.007610,0.004584,0.008044,0.005075,0.002074,1.000000,-0.002023,-0.001982,0.004274,0.010601,-0.006403,-0.008561,-0.009767,0.024270
isNewBuilt,0.004701,0.010350,-0.008951,0.001580,0.032965,-0.005746,-0.000551,0.002154,-0.001010,-0.002023,1.000000,0.024039,-0.001705,-0.000033,0.010843,0.027609,0.010474,0.008080
hasStormProtector,0.000605,0.017886,0.011712,0.005141,0.014905,-0.002473,-0.003309,-0.000393,-0.013071,-0.001982,0.024039,1.000000,-0.017704,-0.001401,0.020655,0.017471,-0.001715,0.020512
basement,0.001734,-0.018948,0.023536,-0.011966,0.003251,0.007887,0.000686,0.000288,-0.005544,0.004274,-0.001705,-0.017704,1.000000,0.015399,-0.017898,-0.016617,0.010897,-0.034940
attic,0.001661,-0.008333,0.027370,-0.003421,-0.001070,-0.006231,0.017507,0.010329,0.001098,0.010601,-0.000033,-0.001401,0.015399,1.000000,-0.027088,-0.002330,0.012462,-0.006851
garage,0.010885,-0.063946,0.066873,-0.001047,0.007199,0.023794,0.007452,-0.001874,-0.004935,-0.006403,0.010843,0.020655,-0.017898,-0.027088,1.000000,0.034678,0.003986,-0.120137
hasStorageRoom,0.011835,0.006013,-0.007623,0.006715,0.016283,-0.007920,0.006606,0.003465,0.001031,-0.008561,0.027609,0.017471,-0.016617,-0.002330,0.034678,1.000000,0.009411,0.001567
hasGuestRoom,0.001892,-0.005814,-0.015969,-0.007774,-0.006831,-0.020811,0.002911,0.018328,0.013139,-0.009767,0.010474,-0.001715,0.010897,0.012462,0.003986,0.009411,1.000000,-0.009309
price,-0.008060,0.591749,0.091681,-0.002545,0.006023,0.038374,0.021986,-0.009366,-0.008546,0.024270,0.008080,0.020512,-0.034940,-0.006851,-0.120137,0.001567,-0.009309,1.000000

In [9]:
df['numberOfRooms']=df['numberOfRooms']**2

In [10]:
df["cityCode"]=df["cityCode"].astype("object")

In [11]:
df["age"]=2022-df["made"]

In [12]:
abs(df.corr()['price'].sort_values(ascending=False))

price                1.000000
squareMeters         0.591749
numberOfRooms        0.083169
floors               0.038374
made                 0.024270
hasStormProtector    0.020512
isNewBuilt           0.008080
hasPool              0.006023
hasStorageRoom       0.001567
hasYard              0.002545
attic                0.006851
id                   0.008060
numPrevOwners        0.008546
hasGuestRoom         0.009309
cityPartRange        0.009366
age                  0.024270
basement             0.034940
garage               0.120137
Name: price, dtype: float64

In [13]:
x=df.drop(['price','id'],axis=1)
y=df[['price']]

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
from sklearn.metrics import r2_score, mean_squared_error

In [15]:
x

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,age
0,34291,576,1,0,47,35693,2,1,2000,0,1,8,5196,369,0,3,22
1,95145,3600,0,1,60,34773,1,4,2000,0,1,729,4496,277,0,6,22
2,92661,2025,1,1,62,45457,4,8,2020,1,1,7473,8953,245,1,9,2
3,97184,9801,0,0,59,15113,1,1,2000,0,1,6424,8522,256,1,9,22
4,61752,10000,0,0,57,64245,8,4,2018,1,0,7151,2786,863,0,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22725,55825,7056,1,0,70,12031,3,10,2000,0,0,4477,786,345,0,0,22
22726,65870,7744,1,0,49,23197,9,9,2015,0,1,4811,2454,755,0,7,7
22727,93192,1764,1,0,39,8539,10,5,2014,1,0,5595,4072,789,0,0,8
22728,65797,7396,1,0,89,23197,2,10,2000,1,0,5358,2513,411,0,0,22
22729,82244,324,1,0,38,86728,1,9,2018,1,0,6294,1291,572,0,6,4

In [16]:
x=pd.get_dummies(x,drop_first=True)

C:\Users\unlu-\anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [17]:
x

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,...,cityCode_99905,cityCode_99921,cityCode_99940,cityCode_99953,cityCode_146275,cityCode_200801,cityCode_200812,cityCode_201035,cityCode_465360,cityCode_491100
0,34291,576,1,0,47,2,1,2000,0,1,...,0,0,0,0,0,0,0,0,0,0
1,95145,3600,0,1,60,1,4,2000,0,1,...,0,0,0,0,0,0,0,0,0,0
2,92661,2025,1,1,62,4,8,2020,1,1,...,0,0,0,0,0,0,0,0,0,0
3,97184,9801,0,0,59,1,1,2000,0,1,...,0,0,0,0,0,0,0,0,0,0
4,61752,10000,0,0,57,8,4,2018,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22725,55825,7056,1,0,70,3,10,2000,0,0,...,0,0,0,0,0,0,0,0,0,0
22726,65870,7744,1,0,49,9,9,2015,0,1,...,0,0,0,0,0,0,0,0,0,0
22727,93192,1764,1,0,39,10,5,2014,1,0,...,0,0,0,0,0,0,0,0,0,0
22728,65797,7396,1,0,89,2,10,2000,1,0,...,0,0,0,0,0,0,0,0,0,0
22729,82244,324,1,0,38,1,9,2018,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [19]:
model=lr.fit(x_train,y_train)

In [20]:
tahmin=model.predict(x_test)

In [21]:
(mean_squared_error(tahmin,y_test))**0.5

2522005.0894517438

In [22]:
r2_score(tahmin,y_test)

-0.9512809135567806

In [23]:
from sklearn.linear_model import Ridge, Lasso
R=Ridge()
L=Lasso()

In [24]:
R.fit(x_train,y_train)

Ridge()

In [25]:
tahmin2=R.predict(x_test)

In [26]:
(mean_squared_error(tahmin2,y_test))**0.5

2196095.117287656

In [27]:
r2_score(tahmin2,y_test)

-1.574010643806028

In [28]:
L.fit(x_train,y_train)

Lasso()

In [29]:
tahmin3=L.predict(x_test)

In [30]:
(mean_squared_error(tahmin3,y_test))**0.5

2490532.154902989

In [31]:
r2_score(tahmin3,y_test)

-1.0202083736693859

In [32]:
from sklearn.linear_model import ElasticNet
E=ElasticNet(l1_ratio=0.8)

In [33]:
E.fit(x_train,y_train)

C:\Users\unlu-\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.198e+16, tolerance: 1.552e+13
  model = cd_fast.enet_coordinate_descent(

ElasticNet(l1_ratio=0.8)

In [34]:
tahmin4=E.predict(x_test)

In [35]:
r2_score(tahmin4,y_test)

-3.3963009857338893

In [46]:
from sklearn.ensemble import RandomForestRegressor

In [48]:
rg = RandomForestRegressor()
rg.fit(x_train,y_train)
tahmin5=rg.predict(x_test)

C:\Users\unlu-\AppData\Local\Temp\ipykernel_3668\960060838.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rg.fit(x_train,y_train)

In [49]:
(mean_squared_error(tahmin5,y_test))**0.5

162976.50228715315

In [50]:
r2_score(tahmin5,y_test)

0.9969264891682095